<form name="modalCreateFileRepositoryForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'CREATE_NEW_FILE_REPOSITORY' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalCreateFileRepositoryForm.title.$invalid]">
            <input type="text" name="title" class="form-control" id="folderName" placeholder="{{'TITLE' | translate}}" ng-model="title" required autofocus>
            <p class="help-block" ng-show="submitted && modalCreateFileRepositoryForm.title.$error.required">{{'TITLE_IS_REQUIRED' | translate}}</p>
        </div>

        <div class="form-group">
            <select class="form-control" ng-model="selected_type">
                <option ng-repeat="x in types" value="{{x.value}}">{{x.title}}</option>
            </select>
        </div>


        <div ng-if="selected_type === 'gcp_cloud_storage'">
            <div class="form-group">
                <input type="text" name="gcp_cloud_storage_bucket" class="form-control" id="gcp_cloud_storage_bucket" placeholder="{{'BUCKET' | translate}}" ng-model="storage_config.gcp_cloud_storage_bucket">
            </div>

            <div class="form-group">
                <textarea class="form-control"
                          placeholder="{{'JSON_KEY' | translate}}"
                          ng-model="storage_config.gcp_cloud_storage_json_key"></textarea>

            </div>
        </div>


        <div ng-if="selected_type === 'aws_s3'">
            <div class="form-group">
                <input type="text" name="aws_s3_bucket" class="form-control" id="aws_s3_bucket" placeholder="{{'BUCKET' | translate}}" ng-model="storage_config.aws_s3_bucket">
            </div>
            <div class="form-group">
                <input type="text" name="aws_s3_region" class="form-control" id="aws_s3_region" placeholder="{{'REGION' | translate}}" ng-model="storage_config.aws_s3_region">
            </div>
            <div class="form-group">
                <input type="text" name="aws_s3_access_key_id" class="form-control" id="aws_s3_access_key_id" placeholder="{{'ACCESS_KEY_ID' | translate}}" ng-model="storage_config.aws_s3_access_key_id">
            </div>
            <div class="form-group">
                <input type="text" name="aws_s3_secret_access_key" class="form-control" id="aws_s3_secret_access_key" placeholder="{{'SECRET_ACCESS_KEY' | translate}}" ng-model="storage_config.aws_s3_secret_access_key">
            </div>
        </div>

        <div class="form-group alert alert-danger" ng-repeat="e in errors">
            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e  | translate}}"></span>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()">{{'CREATE' | translate}}</button>
    </div>
</form>