<form name="editEntryForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{'SHOW' | translate}} {{bp.selected.name | translate}}</h3>
    </div>
    <div class="modal-body">
        <!--
        <ui-select ng-model="bp.selected" class="form-group" on-select="reset()">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="blueprint in (bp.all | filter: $select.search) track by blueprint.id">
                <span ng-bind="blueprint.name"></span>
            </ui-select-choices>
        </ui-select>
        -->

        <!-- before tabs (default) -->
        <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
             ng-if="!n.tab && (!n.position || n.position == 'before')">

            <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                   id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                   ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                   ng-change="bp.selected[n.onChange](bp.selected.fields)" disabled> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title | translate }}</span>

            <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate }}</button>

            <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                       ng-change="bp.selected[n.onChange](bp.selected.fields)" disabled>
                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{'ACTIONS' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                        <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_on_not_write && (!di.hide_offline || !offline)">
                            <a href="" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                <span complexify="n.value"></span>%
                <span complexify="n.value" type="verbal"></span>
            </uib-progressbar>


            <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                      ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                      placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                      ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" readonly></textarea>

        </div>

        <!-- tabs -->
        <uib-tabset ng-if="bp.selected.tabs" class="tabset_expand">
            <uib-tab ng-repeat="tab in bp.selected.tabs" heading="{{tab.title | translate }}" active="tab.active" disable="tab.disabled">

                <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                     ng-if="n.tab == tab.id">

                    <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                           id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                           ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                           ng-change="bp.selected[n.onChange](bp.selected.fields)" disabled> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title| translate}}</span>

                    <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate}}</button>

                    <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                        <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                               id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                               ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                               ng-change="bp.selected[n.onChange](bp.selected.fields)">
                        <div class="input-group-btn" uib-dropdown is-open="status.isopen" disabled>
                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                {{'ACTIONS' | translate}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_on_not_write && (!di.hide_offline || !offline)">
                                    <a href="" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                        <span complexify="n.value"></span>%
                        <span complexify="n.value" type="verbal"></span>
                    </uib-progressbar>

                    <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                              ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                              placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                              ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" readonly></textarea>


                </div>
            </uib-tab>
        </uib-tabset>

        <!-- below tabs -->
        <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
             ng-if="!n.tab && n.position == 'after'">

            <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                   id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                   ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                   ng-change="bp.selected[n.onChange](bp.selected.fields)" disabled> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title| translate}}</span>

            <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate}}</button>

            <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                       ng-change="bp.selected[n.onChange](bp.selected.fields)" disabled>
                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        {{'ACTIONS' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                        <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_on_not_write && (!di.hide_offline || !offline)">
                            <a href="#" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                <span complexify="n.value"></span>%
                <span complexify="n.value" type="verbal"></span>
            </uib-progressbar>

            <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                      ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                      placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                      ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" readonly></textarea>

        </div>

        <!-- Advanced -->
        <div class="text-right" ng-show="!hide_advanced">
            <a href="" ng-click="isCollapsed = !isCollapsed">{{'ADVANCED' | translate}}</a>
        </div>


        <div uib-collapse="isCollapsed">

            <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                 ng-if="!n.tab && n.position == 'advanced'">

                <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                       ng-change="bp.selected[n.onChange](bp.selected.fields)" disabled> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title| translate}}</span>

                <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title| translate}}</button>

                <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                    <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                           id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder| translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                           ng-model="n.value" ng-hide="n.hidden || n.hidden_edit"
                           ng-change="bp.selected[n.onChange](bp.selected.fields)" disabled>
                    <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            {{'ACTIONS' | translate}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                            <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_on_not_write && (!di.hide_offline || !offline)">
                                <a href="#" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                    <span complexify="n.value"></span>%
                    <span complexify="n.value" type="verbal"></span>
                </uib-progressbar>

                <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                          ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                          placeholder="{{n.placeholder| translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                          ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" readonly></textarea>

            </div>
            <div class="form-group" ng-if="!bp.selected.hide_callback">
                <input type="text" name="callback_url" class="form-control"
                       id="editEntryForm-callback_url" placeholder="{{ 'CALLBACK_URL_PLACEHOLDER' | translate}}"
                       ng-model="data.callback_url" readonly>
            </div>
            <div class="form-group" ng-if="!bp.selected.hide_callback">
                <input type="text" name="callback_user" class="form-control"
                       id="editEntryForm-callback_user" placeholder="{{ 'CALLBACK_USER' | translate}}"
                       ng-model="data.callback_user" readonly>
            </div>
            <div class="form-group" ng-if="!bp.selected.hide_callback">
                <div class="input-group">
                    <input type="password" class="form-control" id="callback_pass" placeholder="{{ 'CALLBACK_PASS' | translate}}"  ng-model="data.callback_pass" readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="toggle_input_type('callback_pass')">
                            <i class="fa fa-eye-slash"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
    </div>
</form>
