<div class="container-fluid">

    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#">/</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>{{'HOME' | translate}}</h1>
        </div>
    </div>

    <div class="row">
        <div ng-class="{'col-lg-6': show_share_content, 'col-lg-12': !show_share_content}">
            <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'DATASTORE' | translate}}</h3>
        </div>
        <div class="panel-body">

            <form name="searchTreeForm" class="widget-searchform" autocomplete="off">
                <div class="row">
                    <div class="expandable" ng-class="{'col-xs-offset-4 col-xs-8 col-sm-offset-6 col-sm-6 col-md-offset-8 col-md-4': !focused, 'col-xs-12 col-sm-12 col-md-offset-6 col-md-6 focused': focused}">
                        <div class="input-group">
                            <input type="text" class="form-control" id="tosearchTreeForm" placeholder="{{'SEARCH' | translate}}"
                                   ng-focus="focused = true" ng-blur="focused = false"
                                   ng-model="tosearchTreeFilter" auto-focus>
                            <span class="input-group-btn">
                        <button class="btn btn-default" ng-disabled="!tosearchTreeFilter"
                                ng-click="clearSearchTreeForm()" type="button"><i class="fa fa-ban"></i></button>

                        <div class="btn-group" uib-dropdown is-open="status.isopen" ng-if="!offline">
                            <button id="dropdownMenuRightTop" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                <i class="fa fa-cogs"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="dropdownMenuRightTop">
                                <li role="menuitem" ng-click="openNewFolder($event)"><a href=""><i class="fa fa-folder"></i>{{'NEW_FOLDER' | translate}}</a></li>
                                <li role="menuitem" ng-click="openNewItem($event)"><a href=""><i class="fa fa-plus"></i>{{'NEW_ENTRY' | translate}}</a></li>
                            </ul>
                        </div>
                    </span>
                        </div>
                    </div>
                </div>
            </form>

            <div data-target="menu-datastore-main" context-menu="contextMenuOnShow('menu-datastore-main')" context-menu-close="contextMenuOnClose('menu-datastore-main')" class="expand15">

                <div class="dropdown position-fixed dropdown-rightclick" id="menu-datastore-main">
                    <ul class="dropdown-menu" role="menu">
                        <li role="menuitem" ng-click="openNewFolder($event)"><a href=""><i class="fa fa-folder"></i>{{'NEW_FOLDER' | translate}}</a></li>
                        <li role="menuitem" ng-click="openNewItem($event)"><a href=""><i class="fa fa-plus"></i>{{'NEW_ENTRY' | translate}}</a></li>
                    </ul>
                </div>
                <!--
                <div>
                    <span ng-repeat="b in breadcrumbs track by $index">
                        &gt; {{b}}
                    </span>
                </div>
                -->

                <div tree-view="structure" tree-view-options="options" ng-if="structure.loaded && (structure.data.folders || structure.data.items)">

                </div>

                <div ng-if="structure.loaded && !(structure.data.folders.length || structure.data.items.length)">

                    <div class="big-font-icon-and-msg">
                        <i class="fa fa-plus-circle hidden-xs" aria-hidden="true"></i>

                        <div>
                            {{'NO_ITEMS' | translate}}
                            <span class="hidden-xs">{{'RIGHT_CLICK_HERE_TO_CREATE_ONE' | translate}}</span>
                            <span class="hidden-sm hidden-md hidden-lg">{{'CLICK_ON_THE' | translate}}<br><i class="fa fa-cogs"></i><br>{{'SYMBOL_IN_THE_TOP_RIGHT' | translate}}</span>
                        </div>
                    </div>

                </div>

                <div ng-if="!structure.loaded">

                    <div class="big-font-icon-and-msg">
                        <i style="
                           display: inline-block;
                           font: normal normal normal 14px/1 FontAwesome;
                           text-rendering: auto;
                           font-size: 3em;
                           text-align: center;
                           animation: fa-spin 2s infinite linear;
                           vertical-align: middle;">&#xf110;</i>
                        {{'LOADING' | translate}}
                    </div>

                </div>
                <!--
                <pre>{{ node | json }}</pre>
                -->
                <!--<pre>{{ structure.data | json }}</pre>-->
            </div>
        </div>
    </div>
    </div>

            <div class="col-lg-6 modal-edit" ng-if="show_share_content" ng-controller="ModalEditEntryBigCtrl">
                <form name="editEntryForm" novalidate autocomplete="off">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                            <h3 class="panel-title">{{'EDIT' | translate}} {{bp.selected.name | translate}}</h3>
                        </div>
                        <div class="panel-body">
                        <!--
                        <ui-select ng-model="bp.selected" class="form-group" on-select="reset()">
                            <ui-select-match>
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="blueprint in (bp.all | filter: $select.search) track by blueprint.id">
                                <span ng-bind="blueprint.name"></span>
                            </ui-select-choices>
                        </ui-select>
                        -->

                        <!-- before tabs (default) -->
                        <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                             ng-if="!n.tab && (!n.position || n.position == 'before')">

                            <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                   id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                   ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                                   ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title | translate}}</span>

                            <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title | translate}}</button>

                            <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                                <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                                       ng-change="bp.selected[n.onChange](bp.selected.fields)">
                                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                        {{'ACTIONS' | translate}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                        <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                                            <a href="" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                                <span complexify="n.value"></span>%
                                <span complexify="n.value" type="verbal"></span>
                            </uib-progressbar>


                            <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                                      ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                                      placeholder="{{n.placeholder | translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                                      ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"></textarea>

                        </div>

                        <!-- tabs -->
                        <uib-tabset ng-if="bp.selected.tabs" class="tabset_expand">
                            <uib-tab ng-repeat="tab in bp.selected.tabs" heading="{{tab.title | translate}}" active="tab.active" disable="tab.disabled">

                                <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                                     ng-if="n.tab == tab.id">

                                    <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                           id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                           ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                                           ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title | translate}}</span>

                                    <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title | translate}}</button>

                                    <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                                        <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                               id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                               ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                                               ng-change="bp.selected[n.onChange](bp.selected.fields)">
                                        <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                                {{'ACTIONS' | translate}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                                <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                                                    <a href="" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                                        <span complexify="n.value"></span>%
                                        <span complexify="n.value" type="verbal"></span>
                                    </uib-progressbar>

                                    <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                                              ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                                              placeholder="{{n.placeholder | translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                                              ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"></textarea>


                                </div>
                            </uib-tab>
                        </uib-tabset>

                        <!-- below tabs -->
                        <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                             ng-if="!n.tab && n.position == 'after'">

                            <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                   id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                   ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                                   ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title | translate}}</span>

                            <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title | translate}}</button>

                            <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                                <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                                       ng-change="bp.selected[n.onChange](bp.selected.fields)">
                                <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                        {{'ACTIONS' | translate}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                        <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                                            <a href="#" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                                <span complexify="n.value"></span>%
                                <span complexify="n.value" type="verbal"></span>
                            </uib-progressbar>

                            <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                                      ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                                      placeholder="{{n.placeholder | translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                                      ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"></textarea>

                        </div>

                        <!-- Advanced -->
                        <div class="text-right">
                            <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="!hide_advanced">{{'ADVANCED' | translate}}</a>
                            <a href="" ng-click="show_history(node)" ng-if="!offline" ng-show="!hide_history && !bp.selected.hide_history">{{'SHOW_HISTORY' | translate}}</a>
                        </div>


                        <div uib-collapse="isCollapsed">

                            <div class="form-group" ng-repeat="n in bp.selected.fields track by $index"
                                 ng-if="!n.tab && n.position == 'advanced'">

                                <input ng-if="n.field == 'input' && !n.dropmenuItems" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                       id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                       ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"
                                       ng-change="bp.selected[n.onChange](bp.selected.fields)"> <span ng-if="n.type == 'checkbox' && !n.dropmenuItems" ng-hide="n.hidden || n.hidden_edit">{{n.title | translate}}</span>

                                <button ng-if="n.field == 'button'" class="btn {{n.class}}" type="{{n.type}}" ng-hide="n.hidden || n.hidden_edit" ng-click="bp.selected[n.onClick](node, bp.selected.fields, errors)">{{n.title | translate}}</button>

                                <div class="input-group" ng-if="n.field == 'input' && n.type !== 'checkbox' && n.dropmenuItems">
                                    <input ng-if="n.field == 'input'" type="{{n.type}}" name="{{n.name}}" ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}"
                                           id="editEntryForm-{{n.name}}" placeholder="{{n.placeholder | translate}}" ng-required="n.required && !n.hidden && !n.hidden_edit"
                                           ng-model="n.value" ng-hide="n.hidden || n.hidden_edit"
                                           ng-change="bp.selected[n.onChange](bp.selected.fields)">
                                    <div class="input-group-btn" uib-dropdown is-open="status.isopen">
                                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                            {{'ACTIONS' | translate}} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                                            <li role="menuitem" ng-repeat="di in n.dropmenuItems track by $index" ng-if="!di.hide_offline || !offline">
                                                <a href="#" ng-click="di.onclick('editEntryForm-'+ n.name, di)"><i class="{{di.icon}}"></i>{{di.text | translate}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <uib-progressbar value="n.value | complexify" ng-if="n.type == 'password' && (n.value | complexify) > 0">
                                    <span complexify="n.value"></span>%
                                    <span complexify="n.value" type="verbal"></span>
                                </uib-progressbar>

                                <textarea ng-if="n.field == 'textarea'" name="{{n.name}}"
                                          ng-class="{'form-control': n.type !== 'checkbox', 'monospace': n.type === 'password'}" id="editEntryForm-{{n.name}}"
                                          placeholder="{{n.placeholder | translate}}"  ng-required="n.required && !n.hidden && !n.hidden_edit"
                                          ng-model="n.value" ng-hide="n.hidden || n.hidden_edit" ng-readonly="n.readonly"></textarea>

                            </div>
                            <div class="form-group" ng-if="!bp.selected.hide_callback">
                                <input type="text" name="callback_url" class="form-control"
                                       id="editEntryForm-callback_url" placeholder="{{ 'CALLBACK_URL_PLACEHOLDER' | translate}}"
                                       ng-model="data.callback_url">
                            </div>
                            <div class="form-group" ng-if="!bp.selected.hide_callback">
                                <input type="text" name="callback_user" class="form-control"
                                       id="editEntryForm-callback_user" placeholder="{{ 'CALLBACK_USER' | translate}}"
                                       ng-model="data.callback_user">
                            </div>
                            <div class="form-group" ng-if="!bp.selected.hide_callback">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="callback_pass" placeholder="{{ 'CALLBACK_PASS' | translate}}"  ng-model="data.callback_pass">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="toggle_input_type('callback_pass')">
                                            <i class="fa fa-eye-slash"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                {{'ENTRY_LINK' | translate}}: <a href="{{ 'index.html#!/datastore/search/' + node.id }}">{{ node.id }}</a>
                            </div>

                        </div>

                        <div class="alert alert-danger" ng-repeat="e in errors">
                            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
                        </div>

                        <div class="form-group alert alert-info" ng-repeat="e in msgs">
                            <strong>{{'ERROR' | translate}}:</strong> <span translate="{{ e }}"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button ng-if="node.share_rights.write != false && !offline" class="btn btn-primary" type="button" ng-click="submitted=true; save();">{{'SAVE' | translate}}</button>
                        <button class="btn" type="button" ng-click="cancel();">{{'CLOSE' | translate}}</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
</div>