@import "variables";

html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.loginbox, .registerbox, .activationbox, .lostpasswordbox {
  width:340px;
  padding:20px 20px 0 20px;

  position: absolute;
  top: 40%;
  left: 50%;

  margin: -130px 0 0 -170px;
  border-radius: 4px;

  .progress-bar {
    background-color: $dark-hightlight-color;
  }
}

.privacypolicybox {
  padding:20px 20px 20px 20px;
  border-radius: 4px;
}

.progress {
  margin-bottom: 0;
}

.panel-body {
  position: relative;
  .widget-searchform {
    position: absolute;
    right: 2px;
    top: -36px;
    width: 100%;
  }
}

.note {
  font-style: italic;
}


.big-font-icon-and-msg {
  text-align: center;
  margin-bottom: 20px;
  .fa{
    font-size: 150px;
    margin-top:30px;
    margin-bottom: 30px;
  }
}

.navi {
  background-color: $header-background-on-light-background;
  padding:10px 0;
  margin-bottom: 15px;

  h1 {
    color: $dark-background;
  }

  .location {
  }

  .title {
    text-align: right;
  }
}

.expandable.focused-add,
.expandable.focused-remove {
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}


/* bootstrap */
.navbar-default {
  background-color: $light-link-color;
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: $dark-color;
  }
  .navbar-toggle {
    border-color: $light-link-color;
    .icon-bar {
      background-color: $light-link-color;
    }
  }
}
.navbar .navbar-text {
  margin-top: 8px;
  margin-bottom: 8px;
}

.text-primary {
  color: $dark-hightlight-color;
}



.btn-primary {
  background-color: $dark-hightlight-color;
  border-color: $dark-hightlight-color;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: $dark-hightlight-hover-color;
  border-color: $dark-hightlight-hover-color;
}

.loginbox-translate.open .dropdown-toggle.btn-primary {
  background-color: $dark-color;
  border-color: $dark-color;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: $dark-color;
  border-color: #122b40;
}

.smalllabel {
  font-size: small;
  margin-bottom: 0;
  margin-top: 5px;
  color: $dark-hightlight-hover-color;
}

.path_box_parent {
  margin-bottom: 5px;
  font-family:'Fira Code', monospace;

  .path_box_breadcrumb{
    cursor: pointer;
  }
  .disabled {
    cursor: not-allowed;
  }
  .path_box_breadcrumb:hover {
    color: $dark-hightlight-color;
  }
}


.fa-circle.is-shared {
  color:$dark-hightlight-color;
  font-size: 80%;
  margin-top:50%;
}
.fa-group.is-shared {
  color:$dark-background;
  font-size: 35%;
  margin-top:60%;
}

.small-top-right {
  font-size: 65%;
  margin-top:-45%;
  margin-left:60%;
}

.fa-circle.small-top-right {
  font-size: 100%;
  margin-top:-40%;
}

  /* snap */
snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
  top: 51px;
}

snap-content,
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
.snap-content {
  background-color: $light-background;
}
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers {

  .navigations {
    margin: 10px;
  }
  .footer {
    margin: 10px;
    position: absolute;
    bottom: 0;
  }
  .version {
    color: $dark-darker-color;
  }
}
